h1 {
  text-align: center; }

#mainContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-image: url("/assets/bg.jpg");
  vertical-align: top; }

#fastenate {
  width: 100%;
  height: 100px;
  background-color: white; }

#header {
  width: 100%;
  height: 50px;
  background-color: #3a3a3c;
  text-align: center;
  padding-bottom: 30px; }

#subName {
  color: grey;
  text-align: center; }

.headerLinks {
  display: inline-block;
  color: grey;
  font-family: 'Oswald', sans-serif;
  font-size: 25px; }

.headerLinks:hover {
  cursor: pointer;
  opacity: 0.75; }

.images {
  overflow: auto;
  margin: auto;
  overflow: auto;
  width: 500px;
  height: 300px;
  background-color: black; }

.images:hover {
  cursor: pointer;
  opacity: .90; }

img {
  display: block;
  margin: auto; }

#moreButton {
  vertical-align: middle; }

#footer {
  height: 50px;
  background-color: white;
  text-align: center;
  background-color: black; }

.boxes {
  flex: 0 0 35%;
  box-sizing: border-box;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 30px 10px 30px 10px;
  margin: 20px;
  max-height: 409px; }

.titles {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-align: center;
  height: 2.6em;
  line-height: 1.2em;
  overflow: auto; }

.posterDate {
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: grey; }
